@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AppBarberShop.Models.Booking
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Barber.BarberName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Barber.BarberName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Service)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start_DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End_DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>